{% extends 'webapp/base.html' %}

{% block content %}
    <h5>Welcome, {{ user }}!</h5>

    <hr />

    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-outline-primary btn-sm" href="{% url 'Upload-item' gstin.gstin_number %}">
                 Upload &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-outline-primary btn-sm" href="{% url 'create-item' gstin.gstin_number %}">
                Create a new item list &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-outline-primary btn-sm" href="{% url 'gstview' %}">
                Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
        </div>
    </div>

    <hr />

    <table class="table table-bordered table-dark text-center">
        <thead class="table-light">
            <tr>
                <th scope="col">GSTIN</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit</th>
                <th scope="col">Rate</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if items %}
                {% for item in items %}
                    <tr>
                        <td>{{ item.gstin.gstin_number }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.unit }}</td>
                        <td>{{ item.rate }}</td>

                        <td>
                            <a class="btn btn-success btn-sm" href="{% url 'update-item' item.pk %}">
                                <i class="fa fa-eye" aria-hidden="true"></i>Edit Item
                            </a>
                            <a class="btn btn-danger btn-sm" href="{% url 'delete_item' item.pk %}">
                                <i class="fa fa-trash" aria-hidden="true"></i>Delete Item
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

{% endblock %}
