{% extends 'webapp/base.html' %}

{% block content %}
<h5> Welcome, {{user}}! 👋 </h5>

<hr>

<a class="btn btn-outline-primary btn-sm" href="{% url '' %}">

    enter your GSTIN  &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>

</a>
<hr> 

    <table class="table table-hover table-bordered">

        <thead class="table-light">

            <tr>

                <th scope="col"> GSTIN </th>
                <th scope="col"> View </th>

            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    
{% endblock %}