{% extends 'webapp/base.html' %}

{% block content %}
    <h5>Welcome, {{ user }}! </h5>

    <hr>

    
        <div class="col-md-6">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="excel_file">
                <button type="submit" class="btn btn-primary" name="upload_excel">Upload</button>
            </form>
            <br>
            <br>
        </div>
        <br>
        <a class="btn btn-outline-primary" href="{% url 'create-invoice' %}">

            Create a new invoice &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>
    
        </a>

    <hr>

    <table class="table table-hover table-bordered">
        <thead class="table-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit</th>
            <th scope="col">Rate</th>
            <th scope="col">Views</th>
        </tr>
        </thead>
        <tbody>
        {% if items %}
            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.unit }}</td>
                    <td>{{ item.rate }}</td>
                    <td>
                    <a class="btn btn-success btn-sm" href="{% url 'item' item.id %}"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

{% endblock %}
